@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Menzy</h1>
    <p class="lead">Menzy je studentski projekt Međimurskog Veleučilišta u Čakovcu. Radi se o webstranici za narudžbe hrane u Menzi.</p>
    <p><a href="https://www.facebook.com/studentskamenza.cakovec/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Radno vrijeme</h2>

        <p>
            Ponedeljak - Petak
        </p>
        <p>
            08:00 - 20-00
        </p>
        <p>
            Subota
        </p>
        <p>
            08:00 - 15:00
        </p>
        <p>
            Nedelja
        </p>
        <p>
            Ne radimo
        </p>
        
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Facebook &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Meniji</h2>
        <p>Svaki tjedan imamo novi dnevni meni</p>
        <p><a class="btn btn-default" href="/Cart">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

